{% extends "scheduler/base.html" %}
{% block content %}
    <article class="media content-section">
            <div class="article-metadata">
               <h4 class="font-weight-bold text-center text-primary">About AWS Demo Scheduler</h4>
            </div>
            <div>
                <br>
                This is a Demo AWS Scheduler created for Demo Purpose.
                <br>
                <br>
                Not Suitable for Production use.
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
            </div>
</article>
{% endblock content %}