{% extends "scheduler/base.html" %}
{% load crispy_forms_tags %}
{% crispy account_register_form %}
{% block content %}
    <div class="content-section">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">
                    <h4 class="font-weight-bold text-center text-primary">Add AWS Account</h4>
                </legend>
                <div class="mb-3">
                    {{ form.name|as_crispy_field}}
                </div>
                <div class="mb-3">
                    {{ form.account_number|as_crispy_field}}
                </div>
                <div class="mb-3">
                    {{ form.region|as_crispy_field}}
                </div>
                <div class="mb-3">
                    {{ form.aws_access_key|as_crispy_field}}
                </div>
                <div class="mb-3">
                    {{ form.aws_secret_key|as_crispy_field}}
                </div>
            </fieldset>
            <div class="form-group">
                <button class="btn btn-primary" type="submit">
                    Add Account
                </button>
            </div>
        </form>
    </div>
{% endblock content %}