{% extends "scheduler/base.html" %}
{% block content %}
    <div class="content-section">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">
                    <h4 class="font-weight-bold text-center text-primary">Remove AWS Account</h4>
                </legend>
                <h4 class="font-weight-bold text-center">Are you sure you want to remove AWS Account "{{ object.account_number }}?"</h4>
                <br>
                <br>
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-danger ms-5" type="submit">
                    Yes, Delete
                </button>
                <a class="btn btn-outline-secondary text-center" href="{% url 'accounts' %}">
                    Cancel
                </a>
            </div>
        </form>
    </div>
{% endblock content %}